*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.fondo{
    position: relative;
    width: 100%;
    height: auto;
    background-image: url(./imagenes/Fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


header{
    padding: 2%;
    display: flex;
    justify-content: center;
    
}

nav{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}

.link{
    font-size: 3rem;
    margin-left: 60px;
    margin-right: 60px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: transform 1.3s ease;

}

.link:hover{
    transform: scale(1.20);
    color: rgb(0, 0, 0);
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    height: 100vh;
    
}

.titulo h1{
    font-size: 5rem;
    margin-bottom: 90px;
    color: rgb(255, 255, 255);
}

.titulo p{
    font-size: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

.centro{
    margin: 10% 0;
}

.flecha a{
    font-size: 5rem;
    color: rgb(255, 255, 255);
}


.About-me{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.About-me section img{
    margin-left: 20%;
    border-radius: 50%;
    width: 70%;
    box-shadow: 0 0 30px black;
    transition: transform 2s ease;

}

.About-me section img:hover{
    transform: scale(1.70);
}

.About-me .About-text h2, p{
    padding: 5%;
    text-align: center;
}

.Works{
    display: flex;
    flex-direction: column;
    height: auto;
    background-image: url(./imagenes/Fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /*background: linear-gradient(to bottom, rgb(28, 71, 90), rgb(0, 0, 0));*/
}

.Works h2{
    font-size: 2.5rem;
    color: white;
    text-align: center;
    padding: 3%;
    background-color: rgba(0, 255, 255, 0);
    backdrop-filter: blur(30px) ;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    padding: 6%;
    padding-left: 9%;
    gap: 10%;
    background-color: rgba(0, 255, 255, 0);
    backdrop-filter: blur(30px) ;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: transform 1.5s ease;
}
.card h3{
    color: white;
    font-size: 1.2rem;
    text-align: center;

}


.card:hover{
    transform: scale(1.20);
}

a{
    width: 85%;
    height: 100%;
    justify-self: center;
}

.imagen{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
}

