body {
    padding: 5%;
    background-color: #734429;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 5%;
    
    
}

.into { 
    margin: 2%;
    padding: 5%;
    background-color: #A66E4E;
}

.tex{
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-between; 



    
}

.Proyectos {
    
    margin: 2%;
    padding: 5%;
    background-color: #BF947A;
}
.Proyecto{
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-between; 
}


img {
    width: 200px;
    height: 200px;
}
.foto { 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    left: 75%;
    
}